body {
    background: #544a7d;
    background: -webkit-linear-gradient(to left, #ffd452, #544a7d);  
    background: linear-gradient(to left, #ffd452, #544a7d);
    
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#contenedor > div {
    border: 1px solid #ec7070;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 300px; 
    flex: 1 1 300px; 
    font-size: 0.9em; 
    box-sizing: border-box;
}
