body {
    background: #544a7d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffd452, #544a7d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffd452, #544a7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

#contenedor > div {
    border: 1px solid #dd7d7d;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
